<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Contact Us</title>
  </head>

  <body class="grey lighten-2">

    <div class="topnav">
      <img id="logo" class="responsive-img right" src="cherrytreelogo.png" alt="Cherry Tree Logo">
      <a href="/home">Home</a>
      <a href="/members">Corona Tracking</a>
      <a href="/members">Charities</a>
      <a class="active" href="/contact_us">Contact Us</a>
      <a href="/logout">Logout</a>
    </div>

    <h1 class="pink-text">Contact Us</h1>

    <div class="container row">
      <div class="col s12 blue-grey lighten-3">
        <form id="contact-form">
      
          <label for="email">Email</label>
          <input type="text" id="email" name="Email" placeholder="Your email here...">
          <br>
          <label for="organization-name">Organization Name</label>
          <input type="text" id="organization-name" name="Organization Name" placeholder="Your organization here...">
          <br>
          <label for="website-url">Website URL</label>
          <input type="text" id="website-url" name="Website URL" placeholder="Your URL here...">
          <br>
          <label for="subject">Any other inquiries here..</label>
          <textarea id="subject" name="subject" placeholder="Type something here..."></textarea>
      
          <button type="submit">Submit</button>
      
        </form>
      </div>
    </div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Cherry Tree</h5>
            <p class="grey-text text-lighten-4">Created by Rachel, Joel, Zaki, and Kyle.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://www.who.int/news-room/campaigns/connecting-the-world-to-combat-coronavirus/healthyathome?gclid=CjwKCAjwwYP2BRBGEiwAkoBpAo9Ld1ZJ05ArZQgZqKfDPRMqRC-lC4doFORe742CMgLVlYOz4K-fBhoCzwEQAvD_BwE">World Health Organization</li>
              <li><a class="grey-text text-lighten-3" href="https://www.redcross.org/get-help/how-to-prepare-for-emergencies/types-of-emergencies/coronavirus-safety.html">American Red Cross</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.headspace.com/">Headspace Meditation</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.helpguide.org/articles/stress/stress-management.htm">Stress Management</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2020 Copyright The Cherry Tree Team
        </div>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type ="text/javascript" src ="../js/contact.js"></script>

  </body>
</html>