<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Charity Search</title>
</head>

<body>
    <div class="header">
        <div class="section">
            <div class="row">
                <div class="col s12"></div>
                <h3>Search for Charities and COVID Information Using the Parameters Below</h3>
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <form class="search">
                <label for="searchByCity">By City</label>
                <input type="text" id="searchByCity" placeholder="Enter City">
                </br>
                <label  type="text" for="state-input">By State</label>
                <input type="text" id="state-input" placeholder="Enter State">
                </br>
                <label for="searchByCity">By Zip</label>
                <input type="text" id="searchByZip" placeholder="Enter Zip">
                </br>
                <button type="submit" value="Submit">Submit</button>
            </form>
        </div>
    </div>
    
    <!--state covid info  -->
    <div class="container">
        <h1 class= 'hidden'>Updated COVID-19 Information</h1>
    <canvas id="myChart" width="800" height="450"></canvas>   
    </div>
    <div>
       <h1 class = 'hidden2'>Charites Information</h1>
    </div>
    <div class = 'charityResults'>
        
    <!-- charity info  -->
       
   
    </div>
    <canvas id="myChart" width="800" height="450"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="user.js"></script>
    <script src="states.js"></script>
    <script src="charityNavigator.js"></script>

    

</body>

</html>